extends publicIndex

block pageContent
	div.container
		h1 democratizing predictive analytics
		p We believe predictive analytics is at an inflection point. Businesses are just beginning to harness its power, and academia is just beginning to unlock its potential. In order to make progress, real problems need access to cutting edge technology, and researchers need feedback from real data. We think traditional solutions make this problem worse - they make it harder for businesses to deploy machine learning across the enterprise, and they insulate the authors of the techniques from the results.
		p We're building a different kind of solution: a collaborative platform that's really easy to use.
		div.table
			div.column
				a.btn.btn-large.btn-primary(href='#') Try it out, free
			div.column
				a.btn.btn-large(href='/contact') Let us know what you think