extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.container
				button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.nav-collapse.collapse
				ul.nav
					li.active
						a(href='/start') Home
					li
						a(href='/about') About
					li
						a(href='/contact') Contact
	div.main-container
		div.logo-box
			img(src='/images/prdxt_logo.png', width='80px;')
		div#indexContent.container
			block pageContent
		- modalID = 'newProblem'; modalTitle = 'New Problem';
		include modal