div.modal.hide.fade(id= modalID, tabIndex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
	div.modal-header
		button.close(data-dismiss='modal', aria-hidden='true', type='button') x
		h4#modalLabel= modalTitle
	div.modal-body
		p Loading...
	div.modal-footer
		button.btn#back Back
		button.btn.btn-primary Continue