extends wizard

block present
	h3 1) What data?
	div.tab-table
		ul.nav.nav-tabs
			li.active
				a#newFileLink(href='#newFile', data-toggle='tab') A new file
			li
				a#existingFileLink(href='#existingFile', data-toggle='tab') An uploaded file
		div.tab-content
			div#newFile.tab-pane.active
				form#newFileForm.form-horizontal(action="/newProblem/uploadFile", method="post", enctype="multipart/form-data")
					div.control-group
						label.control-label(for="uploadFile") File to upload
						div.controls
							input(type="file", name="uploadFile")
							span.help-block Make sure this is a .csv file (comma-delimited text) with column names in the first row
					div.control-group
						label.control-label(for="problemName") Problem name
						div.controls
							input(type="text", name="problemName")
					input(type="submit", id="newFileSubmitButton", style="display: none;")
					script(src="/javascripts/jquery.iframe-post-form.js")
			div#existingFile.tab-pane
				form#existingFileForm(action="/newProblem/selectFile", method="post", enctype="multipart/form-data")
					p Coming soon
					input(type="submit", id="existingFileSubmitButton", style="display: none;")
	script(src="/javascripts/newProblem.js")