
a {
  color: #00B7FF;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 310px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.btn {
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-color: #006dcc;
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: #0044cc;
}


.btn-primary {
  background-image: -webkit-linear-gradient(top, #FF9933, #FF6600);
  background-color: #CC5200;
}

.btn-primary:hover {
  background-color: #FF6600;
}

.logo-box {
  padding-top: 5px;
  padding-left: 5px;
}

.main-container {
  background-color: #fff;
  padding: 10px;
  height: 100%;
}

div.column {
  float: left;
  padding-right: 15px;
}

div.bookend {
  clear: both;
}

.error {
  color: rgb(200, 0, 0)
}

.wizard {
  background-color: #fff;
  display: block;
}

.iv {
  background-color: #81bef7;
}

.dv {
  background-color: #faac58;
}

.modal {
  width: 80%;
  left: 33%;
}
